test.json
{
  "name": "Phishing Detection for Chrome Extension",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "phish-check",
        "responseMode": "onReceived"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "url", "value": "={{ $json.url || $json.inputUrl }}" },
            { "name": "hostname", "value": "={{ $helper.getHostname($json.url || $json.inputUrl) }}" }
          ]
        }
      },
      "name": "Set URL & Hostname",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 200]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://safebrowsing.googleapis.com/v4/threatMatches:find?key={{ $env.GOOGLE_SAFE_BROWSING_API_KEY }}",
        "jsonParameters": true,
        "bodyParametersJson": "={ \"client\": { \"clientId\": \"n8n-phish-check\", \"clientVersion\": \"1.0\" }, \"threatInfo\": { \"threatTypes\": [\"MALWARE\",\"SOCIAL_ENGINEERING\",\"UNWANTED_SOFTWARE\"], \"platformTypes\": [\"ANY_PLATFORM\"], \"threatEntryTypes\": [\"URL\"], \"threatEntries\": [{ \"url\": $json.url }] } }"
      },
      "name": "Google Safe Browsing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 40]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "https://check.phishtank.com/checkurl/",
        "queryParametersUi": {
          "parameter": [
            { "name": "format", "value": "json" },
            { "name": "url", "value": "={{ $json.url }}" }
          ]
        }
      },
      "name": "PhishTank Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 160]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "=https://www.virustotal.com/api/v3/urls/{{ Buffer.from($json.url).toString('base64').replace(/=+$/, '') }}",
        "options": {},
        "responseFormat": "json"
      },
      "name": "VirusTotal URL Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 280],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "VirusTotal Header"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "=https://api.whois.example/whois/{{ $json.hostname }}",
        "options": {},
        "responseFormat": "json"
      },
      "name": "WHOIS / Domain Info (placeholder)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 400]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "={{ 'https://' + $json.hostname }}",
        "responseFormat": "string",
        "options": {
          "followRedirect": true,
          "allowUnauthorizedCerts": false
        }
      },
      "name": "Fetch Page HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 520]
    },
    {
      "parameters": {
        "functionCode": "// Consolidate signals from previous nodes and compute a phish_score (0-100)\nconst sb = $items(\"Google Safe Browsing\")[0]?.json || {};\nconst pt = $items(\"PhishTank Lookup\")[0]?.json || {};\nconst vt = $items(\"VirusTotal URL Check\")[0]?.json || {};\nconst whois = $items(\"WHOIS / Domain Info (placeholder)\")[0]?.json || {};\nconst html = $items(\"Fetch Page HTML\")[0]?.json || '';\nconst inputUrl = $json.url || $json.inputUrl || '';\n\nlet score = 0;\nconst reasons = [];\n\n// High confidence lists\nif (sb && Object.keys(sb).length > 0) {\n  score = 100; reasons.push('Listed on Google Safe Browsing');\n}\n// PhishTank check (some responses use 'valid' or 'in_database')\nif (pt && (pt.valid || pt.in_database || pt.exists || pt.phish)) {\n  score = Math.max(score, 95); reasons.push('Found in PhishTank');\n}\n// VirusTotal: look at last_analysis_stats if present\ntry {\n  const stats = vt?.data?.attributes?.last_analysis_stats;\n  if (stats) {\n    // treat malicious >0 as strong signal\n    if (stats.malicious && stats.malicious > 0) { score = Math.max(score, 95); reasons.push('VirusTotal: malicious engines flagged'); }\n    else if (stats.suspicious && stats.suspicious > 0) { score += 40; reasons.push('VirusTotal: suspicious engines flagged'); }\n  }\n} catch(e){}\n\n// WHOIS: domain age heuristic\ntry {\n  const created = whois?.createdDate || whois?.creation_date || whois?.created;\n  if (created) {\n    const ageDays = Math.floor((Date.now() - new Date(created)) / (1000*60*60*24));\n    if (ageDays < 30) { score += 25; reasons.push('Domain age < 30 days'); }\n    else if (ageDays < 180) { score += 10; reasons.push('Domain age < 180 days'); }\n  }\n} catch(e){}\n\n// TLS heuristic\nif (!inputUrl.toLowerCase().startsWith('https://')) { score += 30; reasons.push('No HTTPS'); }\n\n// HTML heuristics\ntry {\n  const htmlLower = (html || '').toLowerCase();\n  // forms posting to external domains\n  if (/<form[\\s\\S]*action=\\\"https?:\\/\\//.test(htmlLower) && !htmlLower.includes($json.hostname)) { score += 20; reasons.push('Form posts to external domain'); }\n  // credential/urgent keywords\n  if (/(enter your password|verify your account|update your payment|confirm your identity)/.test(htmlLower)) { score += 15; reasons.push('Urgent credential request language'); }\n} catch(e){}\n\n// clamp\nif (score > 100) score = 100;\nconst verdict = score >= 70 ? 'block' : score >= 40 ? 'warn' : 'safe';\n\nreturn [{ json: { url: inputUrl, phish_score: score, verdict, reasons, vt_raw: vt } }];"
      },
      "name": "Scoring & Verdict",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [940, 320]
    },
    {
      "parameters": {
        "statusCode": 200,
        "body": "={{ $json }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1180, 320]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [ [ { "node": "Set URL & Hostname", "type": "main", "index": 0 } ] ] },
    "Set URL & Hostname": { "main": [ [ { "node": "Google Safe Browsing", "type": "main", "index": 0 }, { "node": "PhishTank Lookup", "type": "main", "index": 0 }, { "node": "VirusTotal URL Check", "type": "main", "index": 0 }, { "node": "WHOIS / Domain Info (placeholder)", "type": "main", "index": 0 }, { "node": "Fetch Page HTML", "type": "main", "index": 0 } ] ] },
    "Google Safe Browsing": { "main": [ [ { "node": "Scoring & Verdict", "type": "main", "index": 0 } ] ] },
    "PhishTank Lookup": { "main": [ [ { "node": "Scoring & Verdict", "type": "main", "index": 0 } ] ] },
    "VirusTotal URL Check": { "main": [ [ { "node": "Scoring & Verdict", "type": "main", "index": 0 } ] ] },
    "WHOIS / Domain Info (placeholder)": { "main": [ [ { "node": "Scoring & Verdict", "type": "main", "index": 0 } ] ] },
    "Fetch Page HTML": { "main": [ [ { "node": "Scoring & Verdict", "type": "main", "index": 0 } ] ] },
    "Scoring & Verdict": { "main": [ [ { "node": "Respond to Webhook", "type": "main", "index": 0 } ] ] }
  }
}
