test.json
{
  "name": "Phishing Detection Agent (Gemini Powered)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "phish-check",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -380,
        0
      ],
      "id": "webhook-trigger",
      "name": "Webhook Trigger"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "url",
              "stringValue": "={{ $json.url || $json.inputUrl }}"
            },
            {
              "name": "hostname",
              "stringValue": "={{ new URL($json.url || $json.inputUrl).hostname }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        0
      ],
      "id": "normalize-data",
      "name": "Normalize URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://safebrowsing.googleapis.com/v4/threatMatches:find",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "YOUR_GOOGLE_SAFE_BROWSING_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ {\n  \"client\": {\"clientId\":\"n8n-phish-check\",\"clientVersion\":\"1.0\"},\n  \"threatInfo\": {\n    \"threatTypes\":[\"MALWARE\",\"SOCIAL_ENGINEERING\",\"UNWANTED_SOFTWARE\"],\n    \"platformTypes\":[\"ANY_PLATFORM\"],\n    \"threatEntryTypes\":[\"URL\"],\n    \"threatEntries\":[{\"url\": $json.url }]\n  }\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        120,
        -240
      ],
      "id": "google-sb",
      "name": "Google Safe Browsing"
    },
    {
      "parameters": {
        "url": "https://check.phishtank.com/checkurl/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        120,
        -80
      ],
      "id": "phishtank",
      "name": "PhishTank Lookup"
    },
    {
      "parameters": {
        "url": "=https://www.virustotal.com/api/v3/urls/{{ Buffer.from($json.url).toString('base64').replace(/=+$/, '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        120,
        80
      ],
      "id": "virustotal",
      "name": "VirusTotal",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_VIRUSTOTAL_CRED_ID",
          "name": "VirusTotal Header"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.whoisxmlapi.com/whoisserver/WhoisService?apiKey=YOUR_WHOIS_KEY&domainName={{ $json.hostname }}&outputFormat=JSON",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        120,
        240
      ],
      "id": "whois-lookup",
      "name": "WHOIS Lookup"
    },
    {
      "parameters": {
        "url": "={{ 'https://' + $json.hostname }}",
        "responseFormat": "string",
        "options": {
          "followRedirect": true,
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        120,
        400
      ],
      "id": "fetch-html",
      "name": "Fetch Page HTML"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Helper to safely get data\nconst getData = (nodeName) => {\n  try {\n    return $(nodeName).first().json;\n  } catch (e) {\n    return { error: \"Check failed or no data\", details: e.message };\n  }\n};\n\nconst url = $('Normalize URL').first().json.url;\n\n// Aggregate all data\nreturn [\n  {\n    json: {\n      target_url: url,\n      safebrowsing: getData('Google Safe Browsing'),\n      phishtank: getData('PhishTank Lookup'),\n      virustotal: getData('VirusTotal'),\n      whois: getData('WHOIS Lookup'),\n      // Truncate HTML for Gemini Token Limits\n      html_snippet: (getData('Fetch Page HTML') || \"\").toString().slice(0, 3000)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        80
      ],
      "id": "aggregator",
      "name": "Aggregator"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"system_instruction\": {\n    \"parts\": {\n      \"text\": \"You are a cybersecurity expert. Analyze the provided URL scan data. You must return ONLY a raw JSON object (no markdown formatting). The JSON must strictly follow this schema: { \\\"final_verdict\\\": \\\"SAFE\\\" | \\\"SUSPICIOUS\\\" | \\\"MALICIOUS\\\", \\\"final_score\\\": number (0-100, where 100 is safe), \\\"final_summary\\\": \\\"string\\\", \\\"sources\\\": { \\\"virustotal\\\": { \\\"score\\\": number, \\\"ai_analysis\\\": \\\"string\\\" }, \\\"safebrowsing\\\": { \\\"score\\\": number, \\\"ai_analysis\\\": \\\"string\\\" }, \\\"phishtank\\\": { \\\"score\\\": number, \\\"ai_analysis\\\": \\\"string\\\" }, \\\"whois\\\": { \\\"score\\\": number, \\\"ai_analysis\\\": \\\"string\\\" }, \\\"html_analysis\\\": { \\\"score\\\": number, \\\"ai_analysis\\\": \\\"string\\\" } } }\"\n    }\n  },\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"Analyze this security data: {{ JSON.stringify($json) }}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"response_mime_type\": \"application/json\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        80
      ],
      "id": "gemini-analysis",
      "name": "AI Model Check (Gemini)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_GEMINI_CRED_ID",
          "name": "Gemini Header"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "parsedOutput",
              "stringValue": "={{ JSON.parse($json.candidates[0].content.parts[0].text) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        80
      ],
      "id": "parse-gemini",
      "name": "Parse Gemini JSON"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.parsedOutput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        80
      ],
      "id": "respond-webhook",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize URL": {
      "main": [
        [
          {
            "node": "Google Safe Browsing",
            "type": "main",
            "index": 0
          },
          {
            "node": "PhishTank Lookup",
            "type": "main",
            "index": 0
          },
          {
            "node": "VirusTotal",
            "type": "main",
            "index": 0
          },
          {
            "node": "WHOIS Lookup",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Page HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Safe Browsing": {
      "main": [
        [
          {
            "node": "Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PhishTank Lookup": {
      "main": [
        [
          {
            "node": "Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal": {
      "main": [
        [
          {
            "node": "Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WHOIS Lookup": {
      "main": [
        [
          {
            "node": "Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page HTML": {
      "main": [
        [
          {
            "node": "Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregator": {
      "main": [
        [
          {
            "node": "AI Model Check (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Model Check (Gemini)": {
      "main": [
        [
          {
            "node": "Parse Gemini JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini JSON": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}